<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Build and Compiled by Sanjay Kumar Singh</title>
    <!-- CSS -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body ng-app="mainApp" ng-controller="mainCtrl">
    <div class="container">
        <div class="row">
            <!-- Element directive which hold the album list -->
            <albumlist ng-if="photoList.length == 0"></albumlist>
            <!-- Element directive which hold the photo list -->
            <photolist ng-if="photoList.length > 0"></photolist>
            <!-- Element directive to show the loader spin waiting -->
            <loader></loader>
        </div>
    </div>
    <!-- Scripts -->
    <script src="plugins/jquery/js/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/angularjs/js/angular.min.js"></script>
    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/service/appservice.js"></script>
    <script src="app/scripts/controller/mainctrl.js"></script>
</body>

</html>