<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="margin-top: 1%" ng-repeat="album in albumList">
    <div style="border: sold;background-color: #6699FF; width: 150px; height: 120px">
        <div style="background-color: #CCCCCC" align="center">
            <label>Album Id: {{::album.id}}</label>
        </div>
        <label style="width: 100%; height: 100px;padding: 0 5px 0px 5px;color: white;font-size: 11px;cursor: pointer" ng-bind="album.title" ng-click="onAlbumClick(album)"></label>
    </div>
</div>