<div class="row text-center" style="margin-top: 1%">
    <button type="button" class="btn btn-danger btn-md" ng-click="onBackBtnClick()"><span class="glyphicon glyphicon-chevron-left"></span>Back to Album List</button>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" style="margin-top: 1%" ng-repeat="photo in photoList">
            <img ng-src="{{::photo.thumbnailUrl}}" style="cursor: pointer" ng-click="onPhotoClick(photo)" photoload>
        </div>
    </div>
</div>

<!-- Modal popup to show the selected photo from the photolist -->
<div class="modal fade" id="photoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{photoObj.title}}</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{photoObj.url}}">
            </div>
        </div>
    </div>
</div>