html,
body {
    height: 100%;
}

.parent-container {
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin-left: -90px;
}

.child-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(255, 250, 240, .5);
}

.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}